<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754707846955-uaaaj06h6nbsrnciot1a5s04polp6bbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754707846955-uaaaj06h6nbsrnciot1a5s04polp6bbj</string>
	<key>API_KEY</key>
	<string>AIzaSyAzxS2aTwqpj-CA9_1NNkDLZv0fSnuqAaE</string>
	<key>GCM_SENDER_ID</key>
	<string>754707846955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.banking.kumaran.fcmpoc</string>
	<key>PROJECT_ID</key>
	<string>fcm-demo-2ed60</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-demo-2ed60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754707846955:ios:8079b9ab80713781f8176e</string>
	<key>DATABASE_URL</key>
	<string>https://fcm-demo-2ed60-default-rtdb.firebaseio.com</string>
</dict>
</plist>